*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body {
  background: url('./Bildes/bush.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

.fade-out {
  animation: fadeOut 5s;
  pointer-events:none;
}

.fade-in {
  
  animation: fadeIn 6s;
  pointer-events:auto;

}
.shows-up {

  animation: fadeIn 400ms ease-in;
 
}
@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
.Laukums{
  background: #faf0e4;
  width: 50%;
  height:50%;
  border-radius: 5px;
  position: fixed;
  border: 3px solid #ecb154;
  background-color: #faf0e4;
  transform:translate(50%,50%);
  
}

@keyframes fadeOut{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
h1{

  text-align:center;
  font-weight:bold;
  color:#3bb08d;
  margin-left: 5%;
  font-size:25px;
  
}
#virstrakti1{
  background-color: #faf0e4;
  width:20%;
  border-radius: 5px;
  transform: translate(170%, 740%);
}
#virstrakti2{
  background-color: #faf0e4;
  width:20%;
  border-radius: 5px;
  transform: translate(350%, 1690%);
}
h3{
  text-align:left;
  font-weight:bold;
  color:#3bb08d;
  margin-left: 5%;
  font-size:25px;
}
input[type="text"]{
  width: 40%;
  font-size: 18px;
  border: 3px solid #ecb154;
  background-color: #faf0e4;
  color: #1a472a;
}
input[type="password"]{
  margin-left: 59px;
  width: 40%;
  font-size: 18px;
 
  border: 3px solid #ecb154;
  background-color: #faf0e4;
  color: #1a472a;

}
input[type="email"]{
  margin-left: 50px;
  width: 40%;
  font-size: 18px;
  border: 3px solid #ecb154;
  background-color: #faf0e4;
  color: #1a472a;

}
input:focus{
  outline: none;
  border:3px solid #af7c39;
  
  
}
label{
  font-weight: bold;
  color: #3bb08d;
}
  

form{
  margin:1rem;
  padding:1rem;
  text-align: center;

}
.Darbs{
  margin:1rem;
  padding:1rem;
  text-align: left;
}
input[type="button"]{
  border: 4px solid #ecb154;
  background-color: #d10000;
  color: #feffad;
  border-radius: 5px;
  font-weight: bold;
  font-size: 190%;
  width: 350px;
  height: 80px;
  margin-bottom: 5px;
  cursor: grab;
  
}
table,
td {
    margin:1rem;
    border: 1px solid #ecb154;
    text-align:center;
    
}


th{
  
  border: none;
 
}
table{
 
  /* position:fixed;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-wrap: break-word;
 
  width: 50%; */
  margin: 1rem;
  border: 1px solid #ecb154;
  text-align: center;
  color: #119721;
  
  
  color:#119721;
}


/* table {
  overflow: scroll;
  display: block;
  height: 120px;
}
thead>tr {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  top: 0;
  background-color: white;
}
tbody>tr:nth-of-type(1) {
  margin-top: 16px;
}
tbody tr {
  display: block;
}
td,
th {
  width: 70px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
} */
#apstiprina,
#noliedz {
  position: fixed;
  display: inline-block;
  width: 242px;
  height: 68px;
}
#apstiprina {
  left: 50%;
  top: 60%;
  
}

#noliedz {
  left: 10%;
  top: 60%;
}

#uzvards{
  margin-left:45px;
}
#vards{
  margin-left:62px;
}
#lvards{
  margin-left:15px;
}
#apstiprinajums{
  margin-left:10px;
}
#j_parole{
  margin-left:45px;
  
}
#epasts1{
  margin-left:81px;
}
#epasta_kluda,#lvards_kluda,#apstiprinajums_kluda, #kluda{
  position: absolute;
  left:47%;
  font-style: oblique;
  align-items:center;
  color: red;
}

#saglabat{
  background-color: #00ffb3;
  font-weight:bold;
  margin-left:7%;
  height:30px;
  width:150px;
  border-radius:5px;
  cursor:pointer;
}

.Vistoklis{
  position: fixed;
  top:50%;
  left:50%;
  background:transparent url("./Bildes/vistoklis_veras.png") 0 0 no-repeat;
  width:342px;
  height:604px;
  transform:translate(-64%,-51%);
  animation: open 1s steps(7);
 
  animation-fill-mode: forwards;
  
}
.Vistoklis2{
  position: fixed;
  top:50%;
  left:50%;
  background:transparent url("./Bildes/vistoklis_veras.png") 0 0 no-repeat;
  width:342px;
  height:604px;
  transform: translate(-65%,-41%);
  animation: open 1s steps(7);
  animation-fill-mode: forwards;
}
.Ievietosanas_vieta{
  margin-left:50px;
  width:40%;
  font-size:18px;
}
 
  
::-webkit-file-upload-button{
  color:#ffffff;
  background-color:#119721;
  border-radius:5px;
  font-style:italic;
}
.Aptauja {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 2px solid #ecb154;
  border-radius: 10px;
  z-index: 10;
  background-color: #faf0e4;
  width: 700px;
  height: 580px;
  max-height: 80%;
  max-width: 80%;
}

.Aptauja.active {
  transform: translate(-50%, -50%) scale(1);
}

.Galvene {
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #1a472a;
  font-size: 45px;
}

@keyframes open{
  100%{
    background-position:-2394px,0px;
  }
}

#opciju_saraksts{
  height:4%;
  position:absolute;
  left: 40%;
  top: 50%;

  text-align: center;

  display: inline-block;
  /*border: 2px dashed #f00000*/
}
#varianti1,#varianti2{
  color:goldenrod;
  background: url('./Bildes/vistoklis.png');
  border:none;
  background-size: 100%115%;
  background-position: center;
  background-repeat: no-repeat;
  font-size:20px;
  font-weight:bold;
  width:100%;
  height:120%;
  margin:3px;
  margin-bottom:20px;
  cursor:pointer;

}
#varianti1:active {
  color: #ffffff;
}
#varianti2:active {
  color: #ffffff;
}

#registresanas_info,#ielogosanas_info,#info{
  
  color:#1a472a;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  
  height:auto;
  
  /* background-color: #00000059; */
  background-image:url("./Bildes/scroll.png");
  background-size: 125%100%;
  background-position: center;
  background-repeat: no-repeat;




  padding: 50px 0px 50px 0px;
}
#parole_dzes{
  position: fixed;
  top:50%;
  left:50%;
  transform:translate(-65%,-50%);
  width:40%;
  height:auto;
  font-size:20px;
  border: 3px solid #ecb154;
  background-color: #faf0e4;
  
}
#varianti{
  background-color: #00ffb3;
  height:30;
  border-radius:10px;
  font-size:15px;
  font-weight:bold;
  z-index:10px;
  box-shadow: 0px 0px 10px #000000;
  width:100%;
  margin:3px;
  cursor: pointer;

  
#varianti:active {
  background-color: #00ffb3;
  box-shadow: 0 5px #000000;
  transform: translateY(4px);
}

}
#darbibas_saraksts{
  display:inline-flex;
  align-text:center;
  gap:10px;
  padding:10px;
}
#lietotajs{
  position:absolute;
  color:#3bb08d;
  font-size:20px;
  font-weight:bold;
  margin-top:20rem;
  margin-left:5rem;
  transform: translate(0%, 50%);
  width:19%;
  height:20%;
  border: 3px solid #ecb154;
  border-radius:5px;
  background-color: #faf0e4;
  text-decoration: none;

}
#lietotaju_sarkasts{
  position:fixed;
  color:#3bb08d;
  font-size:20px;
  font-weight:bold;
  margin-top:20rem;

  left:75%;
  transform: translate(0%, 50%);
  width:20%;
  height:40%;
  border: 3px solid #ecb154;
  background-color: #faf0e4;
  border-radius:5px;
  text-decoration: none;
}
#darbu_laukums{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  max-height:70vh; 
  color:#3bb08d;
  font-size:20px;
  font-weight:bold;
  background-color: #faf0e4;
  border-radius:5px;
}
#iespejadzest{
  border: none;
}
  /* position:fixed;
 
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:48%;
  height:70%;
 
  border: 3px solid #ecb154;
  
 
  text-decoration: none;
}  */


#failu_laukums{
  position:fixed;
  color:#3bb08d;
  font-size:20px;
  font-weight:bold;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:58%;
  height:63%;
  border-radius:5px;
  border: 3px solid #ecb154;
  background-color: #faf0e4;
}

#anulet_kontu{
  background-color: #ff0000;
  height:30;
  font-size:15px;
  font-weight:bold;
  z-index:10px;
  box-shadow: 0px 0px 10px #000000;
  margin:3px;
  cursor:pointer;
}
#anulet_kontu:active {
  background-color: #ff0000;
  box-shadow: 0 5px #000000;
  transform: translateY(4px);
}
#dzest{
  background-color: #ff0000;
  height:30;
  margin:3px;
  font-size:15px;
  font-weight:bold;
  cursor:pointer;
}
#ladet{
  background-color: #20d52c;
  height:30;
  margin:3px;
  font-size:15px;
  font-weight:bold;
  cursor:pointer;
}
#skatit{
  background-color: #f7d426;
  height:30;
  margin:3px;
  font-size:15px;
  font-weight:bold;
  cursor:pointer;
}

#ladet:hover {
   opacity:0.5;
   
}
#skatit:hover {
   opacity:0.5;

}
#dzest:hover {
   opacity:0.5;

}
#parklaj {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  transition: 200ms ease-in-out;
  pointer-events: none;
}

#parklaj.active {
  opacity: 1;
  pointer-events: all;
}
#prasiba{
  padding-top: 57px;
  text-align: center;
  color: #6c3109;
  font-size: 39px;
  font-weight: bold;
}
p,a{
  margin-top:10px;

}
p{
  margin-left:7%;
}
  
a{
  color:#f44e34;
}
