<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/style.css" rel="stylesheet" type="text/css"/>
   <link rel="icon" href="../static/Bildes/gerbonis.ico" type="image/x-icon">
  <title>Laimdotu Lade</title>

</head>

<body onload="JaunaDarbaStadija()">
   <div id="failu_laukums">
   <h1>Jauna darba iestatījumi</h1>
     <form action="/darba_ievietosana" method="post" enctype="multipart/form-data" 
 class="Darbs">
       <input type="file" name="darba_fails" id="darba_fails" class ="Ievietosanas_vieta" accept="image/*" required>
        
         <input type="hidden" id = "drosiba_tips1" value= "{{piekluves[0][1]}}">
         <input type="hidden" id = "drosiba_tips2" value= "{{piekluves[1][1]}}">
         <input type="hidden" id = "drosiba_tips3" value= "{{piekluves[2][1]}}">
         <input type="hidden" id = "redzams_1" name="redzams_1" value= "">
         <input type="hidden" id = "ladejams_1" name="ladejams_1"value= "">
         <!-- <input type="hidden" id = "redzams1" value= "{{piekluves[0][3]}}">
         <input type="hidden" id = "redzams2" value= "{{piekluves[1][3]}}">
         <input type="hidden" id = "redzams3" value= "{{piekluves[2][3]}}"> -->
        
         <label for="drosibas_tips">Drošības tips:</label>
       
           <select id="drosibas_tips" name="drosibas_tips" required onchange="ParaditAprakstu()">
             <option value=""></option>
           {%for piekluve in piekluves[:2]%}
             <!-- {% if piekluve in piekluves %}
                 <option value="{{ piekluve[0] }}">{{ piekluve[0] }}</option>
             {% endif %} -->
             <option value="{{piekluve[0] }}">{{piekluve[0] }}</option>
              {%endfor%}
         </select><br>
       <p id="apraksts"></p>
         <br><label>Darba redzamības iespejas:</label><br>
       <input type="radio" id="redzams" name="redz" value="true" required onclick="ParaditAprakstu()">
         <label id="r"for="redzams">Redzams</label><br>
       <input type="radio" id="slepts" name="redz" value="false"onclick="ParaditAprakstu()">
       <label id="s"for="slepts">Slēpts</label><br>
          
          <br>
       <br><label>Lejuplādēšanas iespējas:</label><br>
        <input type="radio" id="lade" name="ladejamiba" value="true" required>
          <label id="l"for="lade">Lādējams</label><br>
        <input type="radio" id="nelade" name="ladejamiba" value="false">
        <label id="nl"for="nelade">Nelādējams</label><br>
         <br>
         <br>
         <br>     
             <!-- <label id="konkrets" for="konkrets_lietotajs">Konkrēts lietotājs:</label>
             <input type="checkbox" id="konkrets_lietotajs" name="konkrets_lietotajs" value="konkrets_lietotajs" onchange="IedarbinatLietotajs()">
             <br>
             <label id="izv"for="lietotajs_izvele">Izvēlies lietotāju:</label>
             <select id="lietotajs_izvele" name="lietotajs_izvele"disabled>

                 {% for lietotajs in lietotaji %}
                     <option value="{{ lietotajs[0] }}">
                         {{ lietotajs[0] }} {{ lietotajs[1] }}
                     </option>
                 {% endfor %}
           </select>
         
           </select> -->
         <br>
         <br>
         <br>
         <br>
           <input type = "submit" value = "Ievietot Darbu Lādē" name = "submit"id="saglabat" onclick="ParaditAprakstu()">
         <a href = "/"><button type = "button" id="saglabat">Atpakaļ</button></a>
     </form>
    
   </div>
  
  
  <script src="../static/script.js"></script>
 
</body>                    
</html>