<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/style.css" rel="stylesheet" type="text/css"/>
  <link rel="icon" href="../static/Bildes/gerbonis.ico" type="image/x-icon">
  <title>Laumdotu Lāde</title>

</head>
<body>
<div id="info">
  <br>
    <h1>Paroles Maiņa</h1>
      <form action="/paroles_maina" method= "post">
      <label for="epasts1">{{teksti["pasts"]}}</label>
      <input autocomplete="off" autofocus placeholder="Tavs e-pasts" type="email" id="epasts1" spellcheck="false" name="epasts1" onkeyup="EpastaParbaude()" required><br>
      <span id="epasta_kluda"></span><br>
      <label for="j_parole">{{teksti["jauna_parole"]}}</label>
      <input autocomplete="off" autofocus placeholder=" Jaunā Parole" type="password" id="j_parole" name="j_parole"required><br><br>
      <label for="apstiprinajums">{{teksti["atkartot_paroli"]}}</label>
      <input autocomplete="off" autofocus placeholder=" Atkarto Paroli" type="password" id="apstiprinajums" name="apstiprinajums"required onkeyup="ParolesSakritiba()"><br>
        <span id="apstiprinajums_kluda"></span>
        <p><a href="/ielogosanas">Ielogoties</a></p>
    <br>
      <input type = "submit" value = "Mainīt Paroli" name = "submit" id="saglabat">

  </form>
</div>

<script src="../static/script.js"></script>
</body>                    
</html>