<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/style.css" rel="stylesheet" type="text/css"/>
  <link rel="icon" href="../static/Bildes/gerbonis.ico" type="image/x-icon">
  <title>Laumdotu Lāde</title>

</head>
<body>
  <div id="info">
  <br>
    <h1 class="fade-in">Vēlos Mainīt Paroli</h1>
      <form action="pieprasijums_mainit_paroli" method= "post"class="fade-in">
      <label for="epasts">{{teksti["pasts"]}}</label>
        <input autocomplete="off" autofocus placeholder="Tavs e-pasts" type="email" id="epasts" spellcheck="false" name="epasts" required><br>
        <span id="epasta_kluda"></span><br>
         <p><a href="/ielogosanas">Ielogoties</a></p>
      <br>
       
      <input type = "submit" name = "submit" value="Pieprasīt mainīt paroli" id="saglabat">
  
  </form>
  </div>

<script src="../static/script.js"></script>
</body>                    
</html>