<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/style.css" rel="stylesheet" type="text/css"/>
  <link rel="icon" href="../static/Bildes/.ico" type="image/x-icon">
  <title>Laimdotu Mājas lapa</title>

</head>
  <header>
    <nav class="Navbar">
      <a href="#" class="Logo">
          <img src="" alt="logo">
          <h3>Laimdotu Mājas</h3>
      </a>
      <ul class="Saites">
        <li><a href="#">Sakums</a></li>
        <li><a href="#">Par mums</a></li>
        <li><a href="#">Kontakti</a></li>
       
      </ul>
      <button class="Poga">PIERAKSTĪTIES</button>
      <p>|</p>
      <button class="Poga">REĢISTRĒTIES</button>
    </nav>

    
  </header>
<body>
  





</body>                    
</html>