<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/style.css" rel="stylesheet" type="text/css"/>
  <link rel="icon" href="../static/Bildes/.ico" type="image/x-icon">
  <title>Laimdotu Lāde</title>

</head>
  <body>
    <div id= "opciju_saraksts">
      <div id="animacija"></div>
     <button type="button" id= "varianti1"onclick="VistokluAnimacija(this.id)">{{teksti["registresanas_poga"]}}</button>

   <button type="button" id= "varianti2"onclick="VistokluAnimacija(this.id)">{{teksti["ielogoties_poga"]}}</button>
    </div>
    <script src="../static/script.js"></script>
  </body>                    
                      
</html>