<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/style.css" rel="stylesheet" type="text/css"/>
   <link rel="icon" href="../static/Bildes/gerbonis.ico" type="image/x-icon">
  <title>Laimdotu Lade</title>

</head>

<body>  
  <div id="lietotajs">
    <br>
    <h3>{{teksti2["lietotajvards"]}}{{info[0]}}</h3>
    <p>{{teksti2["darbi"]}}{{info[2]}}</p>
    <br>
    <div id="darbibas_saraksts">
        <a href="\jauns_darbs"><button type="button" id= "varianti">{{teksti2["pievienot_darbu"]}}</button></a>

      <a href="\izlogoties"><button type="button" id= "varianti">{{teksti2["izlogoties_poga"]}}</button></a>
    </div>
      <button type="button" id= "anulet_kontu" onclick= "Bridinat()">{{teksti2["anulet_kontu"]}}</button>
    </div>
  </div>
   
   <div id="lietotaju_sarkasts">
     <table>
         <tr>
             <!-- <td>
                 <h4>{{teksti2["id"]}}</h4>
             </td> -->
             <td>
                 <h4>{{teksti2["lietotajs"]}}</h4>
             </td>

             <td>
                 <h4>{{teksti2["pasts"]}}</h4>
             </td>
             
             
         </tr>
         {% for vertiba in saraksts %}
         <tr>
             <!-- <td>{{vertiba[0]}}</td> -->
             <td>{{vertiba[1]}}</td>
             <td>{{vertiba[2]}}</td>
             
             
         </tr>
         {% endfor %}
     </table>
   </div>
     
  <div id="darbu_laukums">
      
    <table>
        <tr>
            <td>
                <h4>{{teksti2["autors"]}}</h4>
            </td>
            <td>
                <h4>{{teksti2["darba_nosaukums"]}}</h4>
            </td>
            <td>
                <h4>{{teksti2["redzams"]}}</h4>
            </td>
            <td>
                <h4>{{teksti2["ladejams"]}}</h4>
            </td>
            
        </tr>
        <tr><th colspan="7">Privāti</th></tr>
        {% for darbs in privatais_darbu_saraksts %}
          <tr>
            <td>{{ darbs[1] }}</td>
            <td>{{ darbs[2] }}</td>
            {% if darbs[1] == lietotajs %} 
              <td>
                <form method="get"action="{{ url_for('skatit_darbs', darbs_ID=darbs[0]) }}">
                  <button id="skatit" type="submit">Apskatīt</button>
                </form>
              </td>
            {% else %}
            <td></td> 
            {% endif %}
            {% if darbs[1] == lietotajs %} 
            <td>
              <form method="get"action="{{ url_for('ladet_darbs', darbs_ID=darbs[0]) }}">
                <button id="ladet" type="submit">Lejupielādēt</button>
              </form>
            </td>
            {% else %}
            <td></td> 
            {% endif %}
           
            {% if darbs[1] == lietotajs%} 
            <td>
              <form method="post" action="{{ url_for('dzest_darbs', darbs_ID=darbs[0]) }}">
                <button id="dzest" type="submit">Dzēst</button>
              </form>
            </td>
            {% else %}
            <td id="iespejadzest"></td> 
            {% endif %}
          </tr>
        {% endfor %}
        <tr><th colspan="7">Publiski</th></tr>
        
        {% for darbs in publiskais_darbu_saraksts %}
          <tr>
            <td>{{ darbs[1] }}</td>
            <td>{{ darbs[2] }}</td>
            
            {% if darbs[3] == 'true'%} 
            <td>
              <form method="get"action="{{ url_for('skatit_darbs', darbs_ID=darbs[0]) }}">
                <button id="skatit" type="submit">Apskatīt</button>
              </form>
            </td>
            {% else %}
            <td></td> 
            {% endif %}
            {% if darbs[4] == 'true' %} 
            <td>
              <form method="get"action="{{ url_for('ladet_darbs', darbs_ID=darbs[0]) }}">
                <button id="ladet" type="submit">Lejupladēt</button></form>
            </td>
                
              
            </td>
            {% else %}
            <td></td> 
            {% endif %}
            
            {% if darbs[1] == lietotajs %} 
            <td>
              <form method="post" action="{{ url_for('dzest_darbs', darbs_ID=darbs[0]) }}">
                <button id="dzest" type="submit">Dzēst</button>
              </form>
            </td>
            {% else %}
            <td id="iespejadzest"></td> 
            {% endif %}
          </tr>
        {% endfor %}
    </table>
  </div>
   
  </div>
  <!-- Anulācijas aktivizēšanas uznirstošais logs -->
  <div class="Aptauja" id="aptauja">
    <div class="Galvene">Konta Anulēšāna!</div>
    <div class="Saturs">
      <p id="prasiba">Ievadi savu paroli, lai anulētu kontu!</p>
      <form action="/anulet_kontu" method="post">
        <input type="password" id="parole_dzes" name="parole_dzes" placeholder="Parole"autocomplete="off" required>
        <input type="submit" id="apstiprina" value="Anulēt!" onclick="Apstiprinat()">
        <input type="button" id="noliedz" value="Nē, pārdomāju!" onclick="Noliegt()">
      </form>
    </div>
  </div>
  <div id="parklaj"></div>
  <script src="../static/script.js"	></script>
  <!-- <script src="../static/view.js"	></script> -->
  
 
</body>                    
</html>